<h3>Add Your Group
   <small><span ng-bind="welcomeMessage"></span></small>
</h3>
<!-- START row-->
<div ng-controller="ConsumerGroupAddCtrl" class="container-fluid">
   <div class="row">
      <div class="col-lg-8">
         <form name="registerForm" class="form-validate" ng-submit="submit()">
            <!-- START panel-->
            <div class="panel panel-default">
               <div class="panel-heading">
                  <div class="panel-title">Create ConsumerGroup</div>
               </div>
               <div class="panel-body">
                  <div class="form-group">
                      Your Projects:
                      <select
                           ng-model="project"
                           ng-options="project.name for project in projects">
                           <option value="-1">----choose--project----</option>
                        </select>
                  </div>
                  <div class="form-group">
                     <label class="control-label">Consumer Group Name: * </label>
                     <input type="text" placeholder="group name" name="groupName" required="required" ng-model="consumerGroup.groupName" class="form-control" ng-pattern="/^[\w]{3,128}$/" />
                     <span ng-show="registerForm.groupName.$dirty &amp;&amp; registerForm.groupName.$error.required" class="text-danger">This field is required</span>
                     <span ng-show="registerForm.groupName.$dirty &amp;&amp; registerForm.groupName.$error.pattern" class="text-danger">Input should 8-128 length with \w</span>
                  </div>
                  <div class="form-group">
                     <label class="control-label">Consume Broadcast Enable * </label>
                     <input type="text" name="consumeBroadcastEnable" ng-model="consumerGroup.consumeBroadcastEnable" required="required" ng-pattern="/^[^\n]{4,5}$/" class="form-control" />
                     <span ng-show="registerForm.consumeBroadcastEnable.$dirty &amp;&amp; registerForm.consumeBroadcastEnable.$error.required" class="text-danger">this field is required</span>
                     <span ng-show="registerForm.consumeBroadcastEnable.$dirty &amp;&amp; registerForm.consumeBroadcastEnable.$error.pattern" class="text-danger">true  or false ? </span>
                  </div>
                  <div class="form-group">
                     <label class="control-label">cluster * </label>
                     <input type="text" name="clusterName" ng-model="consumerGroup.clusterName" required="required" ng-pattern="/^[^\n]{2,255}$/" class="form-control" value="DefaultCluster"/>
                     <span ng-show="registerForm.clusterName.$dirty &amp;&amp; registerForm.clusterName.$error.required" class="text-danger">this field is required</span>
                     <span ng-show="registerForm.clusterName.$dirty &amp;&amp; registerForm.clusterName.$error.pattern" class="text-danger">DefaultCluster?</span>
                  </div>
                  <div class="required">* Required fields</div>
               </div>
               <div class="panel-footer">
                  <div class="clearfix">
                     <div class="pull-right">
                        <input type="submit" id="sub" value="submit"/>
                     </div>
                  </div>
               </div>
            </div>
            <div>
                <span class="text-danger"><label ng-model="message">{{message}}</label></span>
            </div>
            <!-- END panel-->
         </form>
      </div>
   </div>
   <!-- END row-->
</div>
