<div class="row" ng-controller="MessageCtrl">
	<a ui-sref=project class="pull-right btn btn-primary btn-outline btn-rounded">Project</a>
	<h3>QueryMessage <small> By ID </small></h3>

   <div class="col-lg-9">
      <div class="form-group mb-xl">
         <input type="search" placeholder="message id" class="form-search mb" ng-model="msgID" style="width: 80%"/>
         <button type="button" class="pull-right btn btn-default" ng-click="searchID()">Search</button>
      </div>

      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">Search Results
            <paneltool tool-refresh="traditional"></paneltool>
         </div>
         <!-- START table-responsive-->
         <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">

				  <tr>
					  <td  colspan='2'>
						   Message ID :  <span ng-bind="message.msgId"></span>
					  </td>
				  </tr>
				  <tr>
					  <td colspan='2'>
						   Topic : <span ng-bind="message.topic"></span>
					  </td>
				  </tr>
				  <tr>
					  <td colspan='2'>
						   Tag : <span ng-bind="message.tags"></span>
					   </td>
				   </tr>
				   <tr>
					   <td colspan='2'>
						   Key : <span ng-bind="message.keys"></span>
					   </td>
				   </tr>
				   <tr>
					   <td colspan='2'>
					 	    Userproperties : <span ng-bind="message.properties"></span>
					   </td>
				   </tr>
				   <tr>
					   <td colspan='2'>
						   Borntime : <span ng-bind="message.bornTime"></span>
					   </td>
				   </tr>
				   <tr>
					   <td colspan='2'>
						   BornHost : <span ng-bind="message.bornHost"></span>
					   </td>
				   </tr>
				   <tr>
					   <td colspan='2'>
						   Storetime : <span ng-bind="message.storTime"></span>
					   </td>
				   </tr>
				   <tr>
					   <td colspan='2'>
						   StoreHost : <span ng-bind="message.storeHost"></span>
					   </td>
				   </tr>
				   <tr>
					   <td colspan='2'>
						   Messagebody : [length] <span ng-bind="message.body.length"></span>
					   </td>
				   </tr>
				   <tr>
					   <td colspan='2'>
						   Message Content : <span ng-bind="message.content"></span>
					   </td>
				   </tr>
				   <tr>
					   <td colspan='2'>
						   Connect Consumer : <a ng-click="findConnectConsumer()">find</a>
						   <br />
						   <div id="findConsumer" style="display: none">
							   Consumer Groups:
							   <select
						         	ng-model="consumerGroup"
						         	ng-options="consumerGroup for consumerGroup in consumerGroups"
						            ng-change="findConnectClient()">
									<option value="">----find--Consumer----</option>
						         </select>
							</div>
							<br />
							 <div  id="findClient"  style="display: none">
								 Clients
								<select
									ng-model="client"
									ng-options="client.clientId for client in clients"
									ng-change="checkClient()">
									<option value="">----choose--one--client--resend----</option>
								</select>
							</div>
					   </td>
				   </tr>
				   <tr>
					   <td>ConsumerGroup</td>
					   <td>status</td>
				   </tr>
				   <tr ng-repeat="status in statuses">
					   <td><span ng-bind="status.consumerGroup"></span></td>
					   <td><span ng-bind="status.trackType"></span></td>
				   </tr>
				   <tr><td colspan='2'>订阅了，而且消费了SUBSCRIBED_AND_CONSUMED,<br /> 订阅了，但是被过滤掉了 SUBSCRIBED_BUT_FILTERD, <br /> 订阅了，但是是PULL，结果未知 SUBSCRIBED_BUT_PULL, <br /> 订阅了，但是没有消费 SUBSCRIBED_AND_NOT_CONSUME_YET, <br /> 未知异常 UNKNOW_EXCEPTION,</td></tr>


            </table>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>
