<h3>Project List
   <small>add your consumer group and topic</small>
</h3>
<!-- START row-->
<div ng-controller="ProjectLCtrl as form" class="container-fluid">
   <div class="row">
          <div class="panel panel-default" style="overflow-x:auto">
          <table class="table table-striped table-bordered table-hover ">
               <thead style="font-weight: bold">
                  <th>Name</th>
                  <th>description</th>
                  <th>Groups</th>
                  <th>Topics</th>
                  <!-- <th>option</th> -->
              </thead>
              <tbody>
               <tr ng-repeat="project in projects">
                  <td>
                     <span text="project.name" name="name" ><span ng-bind="project.name"></span></span>
                  </td>
                  <td>
                     <span text="project.description" name="description" ><span ng-bind="project.description"></span></span>
                  </td>
                  <td>
                     <span text="project.consumerGroups" name="groups"><span ng-bind="showGroups(project.consumerGroups)"></span></span>
                 </td>
                  <td>
                     <span editable-text="project.topics" e-name="topics" e-form="rowform" >{{ showTopics(project.topics) }}</span>
                  </td>
               </tr>
           </tbody>
            </table>
        </div>

   </div>
   <!-- END row-->
</div>
