<div class=dashboard-page>
    <div class=container-fluid>
        <div class=row>
            <div class="col-sm-3 col-md-2 sidebar">
                <div class=text-center>
                    <h2 class=brand>Welcome <small></small></h2>
                    <img src=images/login1.jpg class=user-avatar><br>
                    <!--a ui-sref=login class="btn btn-white btn-outline btn-rounded btn-sm">Logout</a -->
                </div>
                <ul class="nav nav-sidebar">
                    <li>
                        <a ui-sref=messageID>Query Message By ID</a>
                    </li>
                    <li>
                        <a ui-sref=messageKEY>Query Message By KEY </a>
                    </li>
                    <li >
                        <a ui-sref=projectA>Add UR Project</a>
                    </li>
                    <li >
                        <a ui-sref=projectL>Projects Table</a>
                    </li>
                    <li ng-class="{active: $state.includes('project')}">
                        <a ui-sref=project>Project Dashboard</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" auto-scroll="true" ui-view>
            </div>
        </div>
    </div>
</div>
