<div class=login-page>
 <div class=row>
  <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
   <img src=images/login2.jpg class=user-avatar>
   <h1>RocketMQ  <small>cockpit</small></h1>
   <form name='f' role="form" ng-submit="submit()">
    <div class=form-content>
     <div class=form-group>
      <input type=text id="j_username" ng-model="j_username" class="form-control input-underline input-lg" placeholder=Username required>
      <span style='color:red' ng-show='f.j_username.$dirty &amp;&amp; f.j_username.$invalid'>
      <span ng-show='f.j_username.$error.required'>you do not have a name?</span></span>
     </div>
     <div class=form-group>
      <input type=password id="j_password" ng-model="j_password" class="form-control input-underline input-lg" placeholder=Password>
      <span style='color:red' ng-show='f.j_password.$dirty &amp;&amp; f.j_password.$invalid'>
      <span ng-show='f.j_password.$error.required'>aha~ no password!</span></span>
     </div>
     <div class="form-group">
      <input ng-model="kaptcha" type="text" id="kaptcha" maxlength="20" class="input-underline input-lg">
      <img src="cockpit/captcha-image" width="170" height="40" id="kaptchaImage" class="input-underline" style="margin-bottom: -3px"  alt="Captcha" ng-click='kaptchaImage()'>
     </div>
    </div>
    <div>{{message}}</div>
    <button type=submit class="btn btn-white btn-outline btn-lg btn-rounded">Login</button>
   </form>
  </div>
 </div>
</div>
