<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndpmedia.rocketmq.cockpit.mybatis.mapper.BrokerMapper">

    <insert id="insert" parameterType="Broker" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO broker(cluster_name, broker_name, broker_id, address, version, dc, last_update_time)
        VALUES (#{clusterName}, #{brokerName}, #{brokerId}, #{address}, #{version}, #{dc}, CURRENT_TIMESTAMP)
    </insert>

    <update id="refresh" parameterType="Broker">
        UPDATE broker
        SET last_update_time = CURRENT_TIMESTAMP
        WHERE cluster_name = #{clusterName} AND
        broker_name = #{brokerName} AND
        broker_id = #{brokerId}
    </update>

    <select id="exists" resultType="java.lang.Boolean" parameterType="Broker">
        SELECT count(1) > 0 FROM broker
        WHERE cluster_name = #{clusterName} AND
              broker_name = #{brokerName} AND
              broker_id = #{brokerId}
    </select>

    <select id="list" resultType="Broker">
        SELECT id, cluster_name AS clusterName, broker_name AS brokerName, broker_id AS brokerId,
        address, version, dc, last_update_time AS lastUpdateTime
        FROM broker
        WHERE 1 = 1
        <if test="clusterName != null">
            AND cluster_name = #{clusterName}
        </if>

        <if test="brokerName != null">
            AND broker_name = #{brokerName}
        </if>

        <if test="brokerId > 0">
            AND broker_id = #{brokerId}
        </if>

        <if test="dc > 0">
            AND dc = #{dc}
        </if>

        <if test="lastUpdateTime != null">
         <![CDATA[
            AND last_update_time >= #{lastUpdateTime}
         ]]>
        </if>
    </select>

</mapper>