<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndpmedia.rocketmq.cockpit.mybatis.mapper.CockpitRoleMapper">
    <insert id="insert" parameterType="CockpitRole" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO cockpit_role(id, name)
        VALUES (NULL, #{name})
    </insert>

    <update id="update" parameterType="CockpitRole">
        UPDATE cockpit_role
        SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM cockpit_role
        WHERE id = #{id}
    </delete>

    <select id="list" resultType="CockpitRole">
        SELECT id, name
        FROM cockpit_role
    </select>
</mapper>