<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndpmedia.rocketmq.cockpit.mybatis.mapper.IpPairMapper">
    <insert id="insert" parameterType="IPPair" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ip_mapping (id, inner_ip, public_ip, create_time, update_time)
        VALUES (NULL, #{innerIP}, #{publicIP}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="IPPair">
        UPDATE ip_mapping
        SET inner_ip = #{innerIP}, public_ip = #{publicIP}, create_time = #{createTime}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE
        FROM ip_mapping
        WHERE id = #{id}
    </delete>

    <resultMap id="ipPairMap" type="IPPair">
        <id column="id" property="id" />
        <result column="inner_ip" property="innerIP" />
        <result column="public_ip" property="publicIP" />
        <result column="create_time" property="createTime" javaType="date" />
        <result column="update_time" property="updateTime" javaType="date" />
    </resultMap>

    <select id="list" resultMap="ipPairMap">
        SELECT id, inner_ip, public_ip, create_time, update_time
        FROM ip_mapping
    </select>

    <select id="lookUp" resultType="string" parameterType="string">
        SELECT public_ip
        FROM ip_mapping
        WHERE inner_ip = #{innerIP}
    </select>
</mapper>