<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndpmedia.rocketmq.cockpit.mybatis.mapper.LoginMapper">

    <insert id="insert" parameterType="Login" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO login(id, token, login_time, user_id)
        VALUES (NULL, #{token}, #{loginTime}, #{cockpitUser.id})
    </insert>

    <delete id="delete" parameterType="date">
       <![CDATA[
        DELETE
        FROM login
        WHERE login_time <= #{date}
        ]]>
    </delete>

    <resultMap id="loginMap" type="com.ndpmedia.rocketmq.cockpit.model.Login">
        <id column="id" property="id" />
        <result column="login_time" property="loginTime" javaType="date"/>
        <result column="token" property="token" />
        <association property="cockpitUser" column="user_id"  select="getUserById" />
    </resultMap>

    <select id="getUserById" resultType="com.ndpmedia.rocketmq.cockpit.model.CockpitUser" parameterType="long">
        SELECT id, username, email
        FROM cockpit_user
        WHERE id = #{id}
    </select>

    <select id="getByToken" parameterType="string" resultMap="loginMap">
        SELECT id, login_time, user_id, token
        FROM login
        WHERE token = #{token}
    </select>

</mapper>