<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ndpmedia.rocketmq.cockpit.mybatis.mapper.NameServerKVMapper">

    <resultMap id="kvMap" type="KV">
        <id property="id" column="id"/>
        <result property="nameSpace" column="name_space"/>
        <result property="key" column="`key`"/>
        <result property="value" column="`value`"/>
        <result property="status" column="status_id"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                javaType="com.ndpmedia.rocketmq.cockpit.model.Status"/>
    </resultMap>

    <delete id="delete" parameterType="long">
        DELETE
        FROM name_server_kv
        WHERE id = #{id}
    </delete>

    <select id="list" resultMap="kvMap">
        SELECT id, name_space, `key`, `value`, status_id
        FROM name_server_kv
    </select>

    <select id="get" resultMap="kvMap" parameterType="long">
        SELECT id, name_space, `key`, `value`, status_id
        FROM name_server_kv
        WHERE id = #{id}
    </select>

    <select id="listByStatus" resultType="KV" parameterType="arraylist">
        SELECT id, name_space, `key`, `value`, status_id
        FROM name_server_kv
        WHERE status_id IN
        <foreach collection="array" item="item" open="(" close=")" separator=",">
            #{item}
        </foreach>
    </select>

    <insert id="insert" parameterType="KV" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO name_server_kv(id, name_space, `key`, `value`, status_id)
        VALUES (NULL, #{nameSpace}, #{key}, #{value}, #{status.id})
    </insert>

    <update id="update" parameterType="KV">
        UPDATE name_server_kv SET name_space = #{nameSpace}, `key` = #{key}, `value` = #{value},
        status_id = #{status.id}
        WHERE id = #{id}
    </update>
</mapper>