<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndpmedia.rocketmq.cockpit.mybatis.mapper.NameServerMapper">
    <insert id="insert" parameterType="NameServer" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO name_server(id, ip, port, create_time, update_time)
        VALUES (NULL, #{ip}, #{port}, #{createTime}, #{updateTime})
    </insert>

    <update id="update" parameterType="NameServer">
        UPDATE name_server
        SET ip = #{ip}, port = #{port}, create_time = #{createTime}, update_time = #{updateTime}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE
        FROM name_server
        WHERE id = #{id}
    </delete>

    <resultMap id="nameServerMap" type="NameServer">
        <id column="id" property="id" />
        <result column="ip" property="ip" />
        <result column="port" property="port" />
        <result column="create_time" property="createTime" javaType="date" />
        <result column="update_time" property="updateTime" javaType="date" />
    </resultMap>

    <select id="list" resultMap="nameServerMap">
        SELECT id, ip, port, create_time, update_time
        FROM name_server
    </select>

    <select id="get" resultMap="nameServerMap" parameterType="long">
        SELECT id, ip, port, create_time, update_time
        FROM name_server
        WHERE id = #{id}
    </select>
</mapper>