<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndpmedia.rocketmq.cockpit.mybatis.mapper.ProjectMapper">

    <insert id="create" parameterType="com.ndpmedia.rocketmq.cockpit.model.Project" useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        INSERT INTO project(id, name, description, team_id)
        VALUES (NULL, #{name}, #{description}, #{teamId})
    </insert>

    <update id="update" parameterType="com.ndpmedia.rocketmq.cockpit.model.Project">
        UPDATE project
        SET name = #{name}, description = #{description}, team_id = #{teamId}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE
        FROM project
        WHERE id = #{id}
    </delete>

    <select id="list" resultType="com.ndpmedia.rocketmq.cockpit.model.Project" parameterType="long">
        SELECT id, name, description, team_id AS teamId
        FROM project
        WHERE 1 = 1
        <if test="teamId > 0">
          AND  team_id = #{teamId}
        </if>
    </select>

    <resultMap id="projectResultMap" type="com.ndpmedia.rocketmq.cockpit.model.Project">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="teamId" property="teamId" />
        <collection property="topics" column="id" ofType="com.ndpmedia.rocketmq.cockpit.model.Topic" select="selectTopicForProject" />
        <collection property="consumerGroups" column="id" ofType="com.ndpmedia.rocketmq.cockpit.model.ConsumerGroup" select="selectConsumerGroupForProject" />
    </resultMap>

    <resultMap id="topicResultMap" type="com.ndpmedia.rocketmq.cockpit.model.Topic">
        <id column="id" property="id" />
        <result column="topic" property="topic" />
        <result column="cluster_name" property="clusterName" />
        <result column="permission" property="permission" />
        <result column="write_queue_num" property="writeQueueNum" />
        <result column="read_queue_num" property="readQueueNum" />
        <result column="unit" property="unit" />
        <result column="has_unit_subscription" property="hasUnitSubscription" />
        <result column="broker_address" property="brokerAddress" />
        <result column="order_type" property="order" />
        <result column="status_id" property="status"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                javaType="com.ndpmedia.rocketmq.cockpit.model.Status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="selectTopicForProject" resultMap="topicResultMap">
        SELECT id, topic, cluster_name, permission, write_queue_num, read_queue_num, unit, has_unit_subscription, broker_address, order_type, status_id, create_time, update_time
        FROM topic
        WHERE id = #{id}
    </select>

    <resultMap id="consumerGroupResultMap" type="com.ndpmedia.rocketmq.cockpit.model.ConsumerGroup">
        <id column="id" property="id" />
        <result column="cluster_name" property="clusterName" />
        <result column="which_broker_when_consume_slowly" property="whichBrokerWhenConsumeSlowly" />
        <result column="group_name" property="groupName" />
        <result column="consume_enable" property="consumeEnable" />
        <result column="consume_broadcast_enable" property="consumeBroadcastEnable" />
        <result column="broker_address" property="brokerAddress" />
        <result column="broker_id" property="brokerId" />
        <result column="retry_max_times" property="retryMaxTimes" />
        <result column="retry_queue_num" property="retryQueueNum" />
        <result column="consume_from_min_enable" property="consumeFromMinEnable" />
        <result column="status_id" property="status"
                typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"
                javaType="com.ndpmedia.rocketmq.cockpit.model.Status" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>


    <select id="selectConsumerGroupForProject" resultMap="consumerGroupResultMap">
        SELECT id, cluster_name, which_broker_when_consume_slowly, group_name, consume_enable, consume_broadcast_enable, broker_address, broker_id, retry_max_times, retry_queue_num, consume_from_min_enable, status_id, create_time, update_time
        FROM consumer_group
        WHERE id = #{id}
    </select>

    <select id="get" resultMap="projectResultMap" parameterType="long">
        SELECT id, name, description, team_id AS teamId
        FROM project
        WHERE id = #{projectId}
    </select>

</mapper>