<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ndpmedia.rocketmq.cockpit.mybatis.mapper.TeamMapper">

    <insert id="insert" parameterType="Team" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO team(id, name)
        VALUES (NULL, #{name})
    </insert>

    <insert id="addMember">
        INSERT INTO team_user_xref(team_id, user_id)
                SELECT #{teamId}, #{memberId}
                FROM dual
                WHERE NOT EXISTS(SELECT * FROM team_user_xref WHERE team_id = #{teamId} AND user_id = #{memberId})
    </insert>

    <update id="update" parameterType="Team">
        UPDATE team SET name = #{name}
        WHERE id = #{id}
    </update>

    <delete id="delete" parameterType="long">
        DELETE FROM team
        WHERE id = #{id}
    </delete>

    <select id="get" resultType="Team" parameterType="long">
        SELECT id, name
        FROM team
        WHERE id = #{id}
    </select>

    <select id="getByName" resultType="Team" parameterType="string">
        SELECT id, name
        FROM team
        WHERE name = #{name}
    </select>

    <select id="list" resultType="Team">
        SELECT id, name
        FROM team
    </select>

    <select id="getCockpitUsersByTeamId" resultType="CockpitUser" parameterType="long">
        SELECT u.id AS uid, u.role, u.username, u.password
        FROM cockpit_user AS u
            JOIN team_user_xref AS xref ON u.id = xref.user_id
        WHERE xref.team_id = #{id}
    </select>

    <resultMap id="teamMap" type="Team">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <collection property="cockpitUsers" ofType="CockpitUser" select="getCockpitUsersByTeamId" column="id" />
    </resultMap>

    <select id="getTeamAndMembersByTeamId" resultMap="teamMap" parameterType="long">
        SELECT id, name
        FROM team
        WHERE id = #{id}

    </select>

    <select id="getTeamAndMembersByTeamName" resultMap="teamMap" parameterType="string">
        SELECT id, name
        FROM team
        WHERE name = #{name}
    </select>
</mapper>